* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
}

header h1 {
    @font-face {
        font-family: 'MyCustomFont';
        src: url(..\fonts\Montserrat-ExtraBold.ttf);
        font-weight:bold
    }
    color: black;
    margin:0;
    padding-left: 1em;
    font-variant: small-caps;
   
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    padding-right: 1em;
}

nav ul li {
    @font-face {
        font-family: 'MyCustomFont';
        src: url(..\fonts\Monsterrat-Medium.ttf);
    }
    font-variant: small-caps;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
}
main {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.problem-of-the-day {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.problem-of-the-day h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
}

.problem-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.problem-description {
    background-color: #e0e0e0;
    padding: 1em;
    width: 80%;
    height: 60px;
    border-radius: 8px;
}

.problem-content button {
    background-color: BLACK;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

.topic-wise-questions {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.topic-wise-questions h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
}

.topics {
    display: flex;
    gap: 20px;
}

.topic-box {
    padding: 30px;
    background-color: #e0e0e0;
    width: 100%;
    height: 150px;
    border-radius: 8px;
}

.exchange-rate {
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
 .currency-box{
    background-color: white;
    height: 20px;
    width: 50px;
 }
.rate-box {
    display:grid;
    height: 150px;
    width: 250px;
    margin: 20px; /* Margin inside the popup */
    padding: 20px;
    background-color: #ccc;
    align-items: center;
    border-radius: 1.2em;
}

.wallet{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.rate {
    display: grid;
    align-items: center;
}

